#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#valorant {
  width: 75%;
  border-radius: 20px;
  display: flex;
  margin: 0 auto
}

h1 {
  margin: 0 auto;
  display: grid;
  max-width: 1280px;
  text-align: center;
  place-items: center;
  margin-top:  15px;
  margin-bottom: 30px
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.read-the-docs {
  color: #888;
}

.display-block {
  display: block;
  margin-top: 30px;
}

.display-none {
  display: none;
}
